---
services:
  gotigram:
    image: tiagura/gotigram:latest
    container_name: gotigram
    # Option 1: Use external .env file
    # env_file:
    #  - .env
    # Option 2: Define variables inline
    environment:
      GOTIFY_WS_URL: ws://<GOTIFY_SERVER>:<WS_PORT>
      GOTIFY_REST_URL: http(s)://<GOTIFY_SERVER>:<REST_PORT>
      GOTIFY_CLIENT_TOKEN: <GOTIFY_CLIENT_TOKEN>
      TELEGRAM_TOKEN: <TELEGRAM_TOKEN>
      TELEGRAM_CHAT_ID: <TELEGRAM_CHAT_ID>
    volumes:
      - ./logs:/app/logs  # To store log file
    restart: unless-stopped
