services:
  gotigram:
    image: tiagura/gotigram:latest
    container_name: gotigram
    user: "${UID}:${GID}"
    # Option 1: Use external .env file
    # env_file:
    #  - .env
    # Option 2: Define variables inline
    environment:
      # Required
      GOTIFY_CLIENT_TOKEN: <GOTIFY_CLIENT_TOKEN>
      GOTIFY_REST_URL: http(s)://<GOTIFY_SERVER>:<REST_PORT>
      GOTIFY_WS_URL: ws://<GOTIFY_SERVER>:<WS_PORT>
      TELEGRAM_CHAT_ID: <TELEGRAM_CHAT_ID>
      TELEGRAM_TOKEN: <TELEGRAM_TOKEN>
      # Optional
      TELEGRAM_TEMPLATE: ""
      SUBSCRIPTIONS_FILE: /subscriptions/subscriptions.json
    # Optional: mount this volume to persist subscriptions outside container
    # Command /save won't work without this volume
    # The startup import also requires this volume and to match the path defined in SUBSCRIPTIONS_FILE
    volumes:
      - ./subscriptions:/subscriptions
    restart: unless-stopped