name: Build and Push Gotigram Docker Image

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
    paths:
      - 'main.go'
      - 'Dockerfile'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/docker-publish.yml'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract version from tag
        id: vars
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          MINOR=${VERSION%.*}
          echo "MINOR=$MINOR" >> $GITHUB_ENV

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            tiagura/gotigram:latest
            ${{ startsWith(github.ref, 'refs/tags/') && format('tiagura/gotigram:{0}', env.VERSION) || '' }}
            ${{ startsWith(github.ref, 'refs/tags/') && format('tiagura/gotigram:{0}', env.MINOR) || '' }}


